html,
body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    display: flex;
    flex-direction: column;
}
.head {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 6%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 4vh;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: #fff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.content {
    position: fixed;
    top: 6%;
    left: 0;
    width: 100%;
    background-color: #f2e6e6;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
}
#block-list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1%;
    padding: 1%;
    justify-content: center;
}
.block-item {
    width: calc(50% - 5px);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: bold;
    border-radius: 8px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.block-title {
    position: relative;
    top: 18%;
}
/* 垂直 */
@media (orientation: portrait) {
    .bottom-nav {
        height: 5%;
        font-size: 2vh;
    }
    .content {
        height: 89%;
    }
}
/* 水平 */
@media (orientation: landscape) {
    .bottom-nav {
        height: 6%;
        font-size: 3vh;
    }
    .content {
        height: 88%;
    }
    .block-item {
        width: calc(25% - 15px);
    }
}
.nav-item {
    text-align: center;
    cursor: pointer;
    flex: 1;
}
.nav-item span {
    display: block;
    margin-top: 5px;
    color: #666;
}
.nav-item.active span {
    color: #007bff;
    font-weight: bold;
}

/* 视频窗口 */
video {
    width: 0;
    height: 0;
    display: block;
}

#subtitleBox {
    height: 50%;
    width: 100%;
    top: 50%;
    position: fixed;
}
/* 字幕容器 */
.subtitle-container {
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    cursor: grab;
    resize: both;
    overflow: auto;
}

/* 高亮当前播放的字幕 */
.highlight {
    color: #ff0;
    font-weight: bold;
}

/* 显示行 */
.subLine {
    height: 40px;
    width: 99%;
    border-top: 8px;
    display: flex;
    cursor: pointer;
}
/* 复读按钮样式 */
.repeatButton {
    width: 5%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
}
/* 字幕行样式 */
.subtitle {
    width: 93%;
    height: 100%;
    line-height: 20px;
    font-size: 16px;
    align-items: center;
    display: flex;
    justify-content: start;
}

.questionNum-list {
    position: fixed;
    display: flow;
    height: 40%;
    width: 100%;
    background-color: #e5e5e5;
    border-radius: 5px;
}
.buttonBox {
    height: 16%;
    margin: 0.2% 0 0 1%;
    width: 100%;
}
.questionNum-list button {
    height: 90%;
    width: 12%;
    margin-right: 1%;
    aspect-ratio: 1 / 1;
    border-radius: 20%;
    background-color: rgb(190, 230, 99);
    border: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
.buttonBox button:first-of-type {
    background-color: rgb(238, 238, 97);
    border-radius: 50%;
    border: 0;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.questionNum-list label {
    width: 3rem;
}
.menu-list {
    position: fixed;
    height: 10%;
    width: 100%;
    top: 40%;
    background-color: rgb(219, 215, 215);
    display: flex;
    justify-content: flex-start; /* 水平居中 */
    align-items: center; /* 垂直居中 */
}
.menu-list button {
    margin-right: 2%;
    height: 90%;
    aspect-ratio: 1 / 1;
    font-size: 1rem;
    background-color: white;
    border: 0;
    border-radius: 25%;
    margin-left: 2%;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
/* 水平 */
@media (orientation: landscape) {
}
